* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  transition: all 300ms;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  flex-direction: column;
  /* gap: 5px; */
}

.habitContainer {
  width: 125px;
  height: 125px;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

.habitContainer:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 10px rgb(174, 174, 174);
}

.circle {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: white;
    /* font-weight: 800; */
  }
}

input {
  border: 1px solid rgb(194, 194, 194);

  border-radius: 20px;
  width: 100%;
  height: 30px;
  margin-bottom: 40px;
  padding-left: 10px;
}

.mainHabitsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 385px;

  justify-content: center;
  align-items: center;
  /* gap: 5px; */
}

.mainWrappingContainer {
  /* border: 1px solid orange; */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  h1 {
    font-weight: 400;
  }
}

button {
  border: none;
  background: none;
  /* border: 1px solid black; */
  width: 100%;
  text-align: center;
  /* padding-right: 20px; */
  /* font-weight: 600; */
}

/* DONE - box shadow
Rename
Hover line
Undo
Delete
Reset every day
History
Adding new component transition
Use AI suggestions
DONE - Color */
